<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154312958943-btkvlbb039dbph9bq8bj0v9hh65k2h3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154312958943-btkvlbb039dbph9bq8bj0v9hh65k2h3e</string>
	<key>API_KEY</key>
	<string>AIzaSyCnZSTt0dA9ffGIRmcyWFt_96k8eQDYc_M</string>
	<key>GCM_SENDER_ID</key>
	<string>154312958943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dental</string>
	<key>PROJECT_ID</key>
	<string>senior-b3559</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-b3559.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154312958943:ios:bbb20429d411bc5db1da6a</string>
</dict>
</plist>